@media screen and (min-width: 1920px) {

  h4 {
    font-family: "MyriadPro Regular", sans-serif;
    font-weight: 700;
    color: #000;
  }
  h5 {
    font-family: "MyriadPro Bold", sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 0;

  }

  .bg_container {
    width: 100%;
    background: #dde1ed url("../../images/openings_bg.png") no-repeat;
    background-size: 100% auto;
    min-height: 596px;
  }

  .openings_container {
    background-color: #dde1ed;
    padding: 42px 0 30px 0;

    .slider-openings {
      background-color: #06192a;

      .slider_opening_item {
        padding: 30px;

        > h5 {
          padding-bottom: 10px;
        }

        .flex-description-opening {
          display: flex;
          justify-content: space-between;


          .flex-opening-unit {
            width: 30%;

            p {
              font-family: "MyriadPro Regular", sans-serif;
              font-size: 16px;
              font-weight: 400;
            }
          }
        }
      }
    }
  }

  .slick-next:before, .slick-prev:before {
    content:'';
    width: 45px;
    height: 55px;
    position: absolute;
    background-size: 60% 60%;
    top: 0;
    right: 1px;
  }
  .slick-next:before{
    background: url("../../images/arrow-next — 2.svg") no-repeat center;
    background-size: 60% 60%;
  }
  .slick-prev:before{
    background: url("../../images/arrow-prev — 2.svg") no-repeat center;
    background-size: 60% 60%;
  }
  .slick-prev.slick-arrow {
    right: 46px !important;
    z-index: 999;
  }

  .slick-next {
    right: 0;
  }
  .dropdown {
    display: none;
  }
}

@media screen and (min-width: 1800px) and (max-width: 1919px) {

  h4 {
    font-family: "MyriadPro Regular", sans-serif;
    font-weight: 700;
    color: #000;
  }
  h5 {
    font-family: "MyriadPro Bold", sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 0;

  }

  .bg_container {
    width: 100%;
    background: #dde1ed url("../../images/openings_bg.png") no-repeat 0;
    background-size: 100% auto;
    min-height: 540px;
  }

  .openings_container {
    background-color: #dde1ed;
    padding: 42px 0 30px 0;

    .slider-openings {
      background-color: #06192a;

      .slider_opening_item {
        padding: 30px;

        > h5 {
          padding-bottom: 10px;
        }

        .flex-description-opening {
          display: flex;
          justify-content: space-between;


          .flex-opening-unit {
            width: 30%;

            p {
              font-family: "MyriadPro Regular", sans-serif;
              font-size: 16px;
              font-weight: 400;
            }
          }
        }
      }
    }
  }

  .slick-next, .slick-prev {
    width: 45px;
    height: 55px;
    background-color: rgba(29, 54, 69, 0.44) !important;
    background-size: 60% 60% !important;
    top: -26px;

  }

  .slick-next:before, .slick-prev:before {
    content: '';
    width: 45px;
    height: 55px;
    position: absolute;
    background-size: 60% 60%;
    top: 0;

  }
  .slick-next:before {
    background: url("../../images/arrow-next — 2.svg") no-repeat center;
    background-size: 60% 60%;
    left: 1px;
  }
  .slick-prev:before {
    background: url("../../images/arrow-prev — 2.svg") no-repeat center;
    background-size: 60% 60%;
    right: 1px;
  }
  .slick-prev.slick-arrow {
    right: 46px !important;
    z-index: 999;
  }

  .slick-next {
    right: 0;
  }
  .dropdown {
    display: none;
  }
}

@media screen and (min-width: 1600px) and (max-width: 1800px) {


  h4 {
    font-family: "MyriadPro Regular", sans-serif;
    font-weight: 700;
    color: #000;
  }
  h5 {
    font-family: "MyriadPro Bold", sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 0;

  }

  .bg_container {
    width: 100%;
    background: #dde1ed url("../../images/openings_bg.png") no-repeat 0;
    background-size: 100% auto;
    min-height: 530px;
  }

  .openings_container {
    background-color: #dde1ed;
    padding: 42px 0 30px 0;

    .slider-openings {
      background-color: #06192a;

      .slider_opening_item {
        padding: 30px;

        > h5 {
          padding-bottom: 10px;
        }

        .flex-description-opening {
          display: flex;
          justify-content: space-between;


          .flex-opening-unit {
            width: 30%;

            p {
              font-family: "MyriadPro Regular", sans-serif;
              font-size: 16px;
              font-weight: 400;
            }
          }
        }
      }
    }
  }

  .slick-next, .slick-prev {
    width: 40px;
    height: 50px;
    background-color: rgba(29, 54, 69, 0.44) !important;
    background-size: 60% 60% !important;
    top: -25px;

  }

  .slick-next:before, .slick-prev:before {
    content: '';
    width: 40px;
    height: 50px;
    position: absolute;
    background-size: 60% 60%;
    top: 0;
  }
  .slick-next:before {
    background: url("../../images/arrow-next — 2.svg") no-repeat center;
    background-size: 60% 60%;
    left: 1px;
  }
  .slick-prev:before {
    background: url("../../images/arrow-prev — 2.svg") no-repeat center;
    background-size: 60% 60%;
    right: 1px;
  }
  .slick-prev.slick-arrow {
    right: 46px !important;
    z-index: 999;
  }

  .slick-next {
    right: 0;
  }
  .dropdown {
    display: none;

  }
}

@media screen and (min-width: 1400px) and (max-width: 1600px) {

  h4 {
    font-family: "MyriadPro Regular", sans-serif;
    font-weight: 700;
    color: #000;
  }
  h5 {
    font-family: "MyriadPro Bold", sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin: 0;

  }

  .bg_container {
    width: 100%;
    background: #dde1ed url("../../images/openings_bg.png") no-repeat 0 0;
    background-size: 100% auto;
    min-height: 460px;
  }

  .openings_container {
    background-color: #dde1ed;
    padding: 30px 0 20px;

    .slider-openings {
      background-color: #06192a;

      .slider_opening_item {
        padding: 25px;

        > h5 {
          padding-bottom: 10px;
        }

        .flex-description-opening {
          display: flex;
          justify-content: space-between;


          .flex-opening-unit {
            width: 30%;

            p {
              font-family: "MyriadPro Regular", sans-serif;
              font-size: 14px;
              font-weight: 400;
            }
          }
        }
      }
    }
  }

  .slick-next, .slick-prev {
    width: 35px;
    height: 40px;
    background-color: rgba(29, 54, 69, 0.44) !important;
    background-size: 60% 60% !important;
    top: -20px;

  }

  .slick-next:before, .slick-prev:before {
    content: '';
    width: 35px;
    height: 40px;
    position: absolute;
    background-size: 60% 60%;
    top: 0;
  }
  .slick-next:before {
    background: url("../../images/arrow-next — 2.svg") no-repeat center;
    background-size: 60% 60%;
    left: 1px;
  }
  .slick-prev:before {
    background: url("../../images/arrow-prev — 2.svg") no-repeat center;
    background-size: 60% 60%;
    right: 1px;
  }
  .slick-prev.slick-arrow {
    right: 40px !important;
    z-index: 999;
  }

  .slick-next {
    right: 0;
  }
  .dropdown {
    display: none;

  }
}


@media screen and  (max-width: 1400px) {


  h4 {
    font-family: "MyriadPro Regular", sans-serif;
    font-weight: 700;
    color: #000;
  }
  h5 {
    font-family: "MyriadPro Bold", sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin: 0;

  }

  .bg_container {
    width: 100%;
    background: #dde1ed url("../../images/openings_bg.png") no-repeat 0 0;
    background-size: 100% auto;
    min-height: 425px;
  }

  .openings_container {
    background-color: #dde1ed;
    padding: 30px 0 20px;

    .slider-openings {
      background-color: #06192a;

      .slider_opening_item {
        padding: 25px;

        > h5 {
          padding-bottom: 10px;
        }

        .flex-description-opening {
          display: flex;
          justify-content: space-between;


          .flex-opening-unit {
            width: 30%;

            p {
              font-family: "MyriadPro Regular", sans-serif;
              font-size: 14px;
              font-weight: 400;
            }
          }
        }
      }
    }
  }

  .slick-next, .slick-prev {
    width: 35px;
    height: 45px;
    background-color: rgba(29, 54, 69, 0.44) !important;
    background-size: 60% 60% !important;
    top: -20px;

  }

  .slick-next:before, .slick-prev:before {
    content: '';
    width: 35px;
    height: 45px;
    position: absolute;
    background-size: 60% 60%;
    top: 0;
  }
  .slick-next:before {
    background: url("../../images/arrow-next — 2.svg") no-repeat center;
    background-size: 60% 60%;
    left: 1px;
  }
  .slick-prev:before {
    background: url("../../images/arrow-prev — 2.svg") no-repeat center;
    background-size: 60% 60%;
    right: 1px;
  }
  .slick-prev.slick-arrow {
    right: 40px !important;
    z-index: 999;
  }

  .slick-next {
    right: 0;
  }
  .dropdown {
    display: none;

  }
}



@media screen and (max-width: 1300px) {

}


/*max-width 1140px*/
@media screen and (max-width: 1140px) {

  .openings_container .slider-openings .slider_opening_item .flex-description-opening {
    flex-direction: column;
    .flex-opening-unit{
      width: 100%;
    }
  }
}



